/* stylelint-disable */ /* stylelint-disable */ /* stylelint-disable */
.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1;
}

.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: 2px solid #f00;
  outline-offset: 2px;
}

.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none;
}

/* stylelint-disable */ /* stylelint-disable */
@font-face {
  font-family: "Intro";
  src: url("../fonts/../fonts/Intro-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Intro";
  src: url("../fonts/../fonts/Intro-Regular.woff2") format("woff2");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Intro";
  src: url("../fonts/../fonts/Intro-Book.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
.page {
  height: 100%;
  font-family: Intro, sans-serif;
  -webkit-text-size-adjust: 100%;
}

.page__body {
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  font-size: 16px;
}

img {
  height: auto;
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

input {
  outline: none;
  border: none;
}

textarea {
  outline: none;
  border: none;
}

.site-container {
  overflow: hidden;
}

.is-hidden {
  display: none !important; /* stylelint-disable-line declaration-no-important */
}

.input-reset {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;
}
.input-reset::-webkit-search-decoration, .input-reset::-webkit-search-cancel-button, .input-reset::-webkit-search-results-button, .input-reset::-webkit-search-results-decoration {
  display: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1210px;
}
@media (max-width: 1140px) {
  .container {
    padding: 0 70px;
  }
}
@media (max-width: 768px) {
  .container {
    padding: 0 35px;
  }
}
@media (max-width: 576px) {
  .container {
    padding: 0 15px;
  }
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.centered {
  text-align: center;
}

.dis-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  -ms-scroll-chaining: none;
  overscroll-behavior: none;
}

.page--ios .dis-scroll {
  position: relative;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

li {
  list-style-type: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

.btn {
  display: inline-block;
  vertical-align: top;
  padding: 22px 47px;
  background: #F14F4F;
  border-radius: 4px;
  font-size: 16px;
  color: #FFFFFF;
  -webkit-transition: background-color 0.2s ease-in-out;
  -o-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
}
@media (min-width: 1025px) {
  .btn:hover {
    background-color: #CC4949;
  }
}
.btn:active {
  background-color: #8C2828;
}

.title {
  font-family: Intro, sans-serif;
  font-weight: 600;
  font-size: 36px;
  line-height: 140%;
}
@media (max-width: 1140px) {
  .title {
    line-height: 120%;
  }
}
@media (max-width: 768px) {
  .title {
    font-size: 24px;
  }
}

.title_h2 {
  font-family: Intro, sans-serif;
  font-weight: 600;
  font-size: 30px;
  line-height: 140%;
}

.description {
  font-family: Intro, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
}
@media (max-width: 768px) {
  .description {
    font-size: 14px;
  }
}

.caption {
  font-family: Intro, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #444B58;
}

.checkbox {
  cursor: pointer;
}

.checkbox_input {
  display: none;
}

.checkbox_content {
  position: relative;
  padding-left: 35px;
}
.checkbox_content::before {
  content: "";
  display: block;
  position: absolute;
  top: -3px;
  left: 0;
  width: 25px;
  height: 25px;
  border: 1px solid #DBBBA9;
  border-radius: 4px;
}
.checkbox_content::after {
  content: "";
  position: absolute;
  display: block;
  top: -3px;
  left: 0;
  width: 24px;
  height: 24px;
  background-image: url("../../img/check.svg");
  background-size: 15px 12px;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0;
  -webkit-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}

.checkbox_input:checked + .checkbox_content::after {
  opacity: 1;
}

.noUi-target {
  background-color: #444B58;
  border: none;
  border-radius: 100px;
  -webkit-box-shadow: none;
  box-shadow: none;
  height: 2px;
}

.noUi-connect {
  background-color: #444B58;
}

.noUi-handle::after,
.noUi-handle::before {
  display: none;
}

.noUi-handle {
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: #444B58;
  border: 1px solid #FFF4EE;
  border-radius: 4px;
}

.noUi-horizontal .noUi-handle {
  width: 6px;
  height: 20px;
  top: -8px;
}

.noUi-horizontal .noUi-handle {
  right: -2px;
}

.table_sizes {
  border-collapse: collapse;
  width: 100%;
}
.table_sizes caption {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}
.table_sizes td {
  font-family: Intro, sans-serif;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  border: 1px solid #DBBBA9;
  padding: 17px 5px;
}

.tooltip {
  position: relative;
  margin-left: 10px;
}

.tooltip__btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 100%;
  width: 20px;
  height: 20px;
  -webkit-box-shadow: 2px 4px 10px rgba(0, 13, 84, 0.2);
  box-shadow: 2px 4px 10px rgba(0, 13, 84, 0.2);
  background: white;
}

.tooltip__txt {
  position: absolute;
  left: -10px;
  bottom: calc(100% + 14px);
  z-index: 3;
  border-radius: 4px;
  padding: 15px 20px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  max-width: 426px;
  -webkit-box-shadow: 4px 8px 20px rgba(0, 13, 84, 0.2);
  box-shadow: 4px 8px 20px rgba(0, 13, 84, 0.2);
  font-size: 14px;
  line-height: 140%;
  text-transform: initial;
  color: #444B58;
  background: white;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(10px);
  -ms-transform: translateY(10px);
  transform: translateY(10px);
  -webkit-transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out, visibility 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out, visibility 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out, visibility 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
@media (max-width: 768px) {
  .tooltip__txt {
    max-width: 260px;
  }
}
@media (max-width: 576px) {
  .tooltip__txt {
    max-width: 220px;
  }
}

.tooltip__txt::after {
  content: "";
  position: absolute;
  left: 12px;
  bottom: -8px;
  border-style: solid;
  border-width: 10px 8px 0;
  border-color: white transparent transparent transparent;
  border-radius: 4px;
  width: 0;
  height: 0;
}

.tooltip__btn:hover + .tooltip__txt {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}

.tooltip__btn:focus + .tooltip__txt {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}

.mini-cart {
  position: absolute;
  width: 480px;
  top: 100%;
  right: 0;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  -webkit-box-shadow: 0 -4px 10px rgba(0, 13, 84, 0.1);
  box-shadow: 0 -4px 10px rgba(0, 13, 84, 0.1);
  background-color: white;
  border-radius: 6px;
}
@media (max-width: 576px) {
  .mini-cart {
    width: 335px;
  }
}

.mini-cart--visible {
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  visibility: visible;
  opacity: 1;
}

.mini-cart__top {
  max-height: 323px;
}

.mini-product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 10px 20px;
}

@media (min-width: 1025px) {
  .mini-cart__item:hover {
    background-color: rgba(187, 204, 238, 0.2);
  }
}
.mini-cart__item:active {
  background-color: rgba(126, 158, 223, 0.2);
}

.mini-product__image {
  margin-right: 10px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  height: 100px;
  width: 100px;
}
@media (max-width: 576px) {
  .mini-product__image {
    display: none;
  }
}
.mini-product__image img {
  display: block;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.mini-product__title {
  margin-bottom: 14px;
  width: 220px;
  color: #444B58;
  line-height: 20px;
  font-size: 14px;
}
@media (max-width: 576px) {
  .mini-product__title {
    width: 150px;
  }
}

.mini-product__price {
  color: #444B58;
  font-weight: 700;
  font-size: 20px;
}

.mini-product__delete {
  margin-left: 45px;
  width: 20px;
  height: 20px;
  background-image: url("./../img/svg/trash.svg");
  background-repeat: no-repeat;
}

.mini-cart__bottom {
  padding: 20px 20px 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-shadow: 0px -4px 10px rgba(0, 13, 84, 0.1);
  box-shadow: 0px -4px 10px rgba(0, 13, 84, 0.1);
}

.mini-cart__itog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  color: #444B58;
}

.mini-cart__txt {
  padding-bottom: 10px;
  font-weight: 400;
  font-size: 14px;
}

.mini-cart__summ {
  font-weight: 700;
  font-size: 20px;
}

.cart-modal {
  width: 580px;
  height: auto;
}
@media (max-width: 576px) {
  .cart-modal {
    margin: 50px auto;
    width: calc(100% - 30px);
  }
}

.ordering {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  color: #444B58;
}
.ordering_head {
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  color: #B2B5BB;
}
@media (max-width: 576px) {
  .ordering_head {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}
.ordering_title {
  font-size: 20px;
  color: #444B58;
}

.ordering_wrapper {
  margin-bottom: 40px;
  padding: 30px;
  border: 1px solid #D9D9D9;
}
@media (max-width: 576px) {
  .ordering_wrapper {
    padding: 12px;
  }
}

.ordering_products {
  padding-bottom: 20px;
}

.ordering_char {
  color: #B2B5BB;
  font-weight: 400;
  font-size: 16px;
}

.ordering_var {
  padding-left: 10px;
  color: #444B58;
  font-weight: 700;
  font-size: 16px;
}

.ordering_summ {
  padding-bottom: 20px;
}

.ordering_subtitle {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.ordering_arrow {
  padding-left: 5px;
}
.ordering_arrow::before {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  background-image: url("./../img/svg/arrow.svg");
  background-repeat: no-repeat;
  background-size: 10px;
}

.ordering_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 15px;
}
.ordering_list .mini-cart__product {
  padding: 0;
}
.ordering_list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.ordering_list__image {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 80px;
  height: 80px;
}
.ordering_list__image img {
  width: 100%;
  height: 100%;
}
.ordering_list__content {
  padding-left: 10px;
}
.ordering_list__name {
  max-width: 290px;
  font-weight: 400;
  font-size: 14px;
  padding-bottom: 10px;
}

.ordering_list__delete {
  margin-left: 40px;
  width: 20px;
  height: 20px;
  background-image: url("./../img/svg/trash.svg");
  background-repeat: no-repeat;
}

.ordering_input {
  color: #B2B5BB;
  background: #F7F7F7;
  border: none;
}

.ordering_button {
  margin-top: 20px;
  width: 220px;
}
@media (max-width: 576px) {
  .ordering_button {
    margin: 20px auto 0;
  }
}

@media (max-width: 576px) {
  .cart__btn_bottom {
    padding: 22px 11px;
  }
}

.page__body {
  margin: 0;
  padding: 0;
  min-height: 2000px;
  overflow-x: hidden;
}

.nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media (min-width: 1140px) {
  .nav_mobile {
    display: none;
  }
}
.nav__item:not(:last-child) {
  margin-right: 30px;
}

.burger {
  position: relative;
  width: 30px;
  height: 15px;
  display: none;
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.burger__line {
  position: absolute;
  left: 0;
  top: 50%;
  width: 20px;
  height: 2px;
  background-color: white;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

.burger::before,
.burger::after {
  content: "";
  position: absolute;
  left: 0;
  width: 20px;
  height: 2px;
  background-color: white;
  -webkit-transition: top 0.3s ease-in-out, bottom 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: top 0.3s ease-in-out, bottom 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, bottom 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, bottom 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, bottom 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.burger::before {
  top: 0;
}

.burger::after {
  bottom: 0;
}

.burger--active .burger__line {
  opacity: 0;
}

.burger--active::before {
  top: 50%;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.burger--active::after {
  bottom: auto;
  top: 50%;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.stop-scroll {
  overflow: hidden;
}

@media (max-width: 1140px) {
  .burger {
    display: block;
  }
  .nav_mobile {
    --header-height: 63px;
    position: fixed;
    right: 0;
    top: 80px;
    z-index: 1000;
    overflow-y: auto;
    padding: 0;
    width: 60%;
    max-width: 300px;
    height: calc(100vh - 50px);
    background-color: white;
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
    -webkit-transition: -webkit-transform 0.6s ease-in-out;
    transition: -webkit-transform 0.6s ease-in-out;
    -o-transition: transform 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out;
  }
  .nav--visible {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
  .nav_mobile__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .nav_mobile__item {
    width: 100%;
  }
  .nav__item:not(:last-child) {
    margin-right: 0;
  }
  .nav_mobile__link {
    display: inline-block;
    width: 100%;
    padding: 20px 30px;
    border-bottom: 1px solid black;
    font-size: 20px;
  }
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #484283;
  z-index: 999;
}

.header_nav {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.header_nav_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header_logo {
  color: #FFFFFF;
  font-weight: 700;
  font-size: 30px;
}

.nav_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}
.nav_list li {
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 400;
  margin-right: 40px;
  white-space: nowrap;
}
.nav_list li:last-child {
  margin-right: 0;
}
@media (max-width: 1140px) {
  .nav_list {
    display: none;
  }
}

.header_cart {
  position: relative;
  margin-left: 10px;
}
@media (max-width: 1140px) {
  .header_cart {
    margin-left: -65px;
  }
}

.cart_count {
  position: absolute;
  right: -5px;
  bottom: -3px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 16px;
  min-width: 16px;
  border-radius: 100%;
  background-color: #F14F4F;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 400;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in;
  -o-transition: opacity 0.3s ease-in;
  transition: opacity 0.3s ease-in;
}
.cart_count--visible {
  opacity: 1;
  -webkit-transition: opacity 0.3s ease-in;
  -o-transition: opacity 0.3s ease-in;
  transition: opacity 0.3s ease-in;
}

.nav_mobile_header {
  display: none;
}

.hero {
  background-color: #484283;
  height: 628px;
  padding-top: 190px;
}
@media (max-width: 768px) {
  .hero {
    height: 575px;
    padding-top: 150px;
  }
}
.hero_container {
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  height: 100%;
}

.hero_title {
  color: #FFFFFF;
  width: 580px;
}
@media (max-width: 768px) {
  .hero_title {
    max-width: 530px;
  }
}
@media (max-width: 576px) {
  .hero_title {
    width: unset;
  }
}

.hero_description {
  padding-top: 30px;
  color: #FFFFFF;
  width: 480px;
}
@media (max-width: 768px) {
  .hero_description {
    width: 415px;
  }
}
@media (max-width: 576px) {
  .hero_description {
    max-width: 309px;
  }
}

.hero_bg_text {
  position: absolute;
  z-index: 0;
  left: 50%;
  top: 50%;
  margin-top: -10px;
  margin-left: 85px;
  font-family: Intro, sans-serif;
  font-weight: 700;
  font-size: 200px;
  line-height: 200px;
  color: rgba(255, 255, 255, 0.12);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
@media (max-width: 1140px) {
  .hero_bg_text {
    margin-left: 0;
    font-size: 150px;
  }
}
@media (max-width: 768px) {
  .hero_bg_text {
    font-size: 90px;
    margin-left: 55px;
    margin-top: 7px;
  }
}
@media (max-width: 576px) {
  .hero_bg_text {
    display: none;
  }
}

.hero_btn {
  margin-top: 40px;
}
@media (max-width: 768px) {
  .hero_btn {
    margin-top: 80px;
  }
}

.catalog {
  margin-top: 60px;
  margin-bottom: 60px;
  color: #444B58;
}
.catalog_title {
  text-align: center;
}
@media (max-width: 576px) {
  .catalog {
    margin-top: 30px;
  }
}

.catalog_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.catalog_left {
  margin-right: 20px;
  width: 280px;
}
@media (max-width: 1140px) {
  .catalog_left {
    display: none;
  }
}

.catalog_prop {
  margin-top: 40px;
  background-color: #FFF4EE;
  padding-left: 20px;
  padding-right: 20px;
}

.prop_subtitle {
  padding: 20px 20px 20px 0;
  color: #444B58;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
}

.prop_price {
  padding-bottom: 20px;
}
.prop_price_caption {
  padding-bottom: 10px;
}
.prop_price_wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.prop_price_wrapper::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 8px;
  bottom: 8px;
  width: 1px;
  height: 34px;
  background-color: #B2B5BB;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}
.prop_price_wrapper_input {
  text-align: center;
  color: #444B58;
  border: 1px solid #B2B5BB;
  background-color: transparent;
  width: 50%;
  height: 50px;
}
.prop_price_wrapper_input:first-child {
  border-right: none;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.prop_price_wrapper_input:last-child {
  border-left: none;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.prop_female {
  padding-bottom: 17px;
}
.prop_female_caption {
  padding-bottom: 10px;
}

.custom_checkbox {
  padding-right: 20px;
}

.prop_size {
  padding-bottom: 20px;
}
.prop_size_caption {
  padding-bottom: 10px;
}

.prop_wrapper_input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.prop_btn {
  background-color: #444B58;
}
@media (min-width: 1025px) {
  .prop_btn:hover {
    background-color: #31343C;
  }
}

.prop_btn_reset {
  background-color: transparent;
  color: #444B58;
}
@media (min-width: 1025px) {
  .prop_btn_reset:hover {
    background-color: transparent;
    color: black;
  }
}

.catalog_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 40px;
  width: calc(100% - 300px);
}
@media (max-width: 1140px) {
  .catalog_right {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .catalog_right {
    margin-top: 30px;
  }
}

.catalog_products {
  display: -ms-grid;
  display: grid;
  gap: 20px;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  text-align: left;
}
@media (max-width: 768px) {
  .catalog_products {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }
}

.products_image {
  position: relative;
  width: 100%;
  max-height: 293px;
}
.products_image_item {
  position: relative;
  height: 293px;
  width: 100%;
  display: block;
  -o-object-fit: cover;
  object-fit: cover;
}
@media (max-width: 576px) {
  .products_image_item {
    height: 190px;
  }
}
.products_image_btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 40px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.6);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}
@media (max-width: 1140px) {
  .products_image_btns {
    gap: 20px;
  }
}
.products_image:hover .products_image_btns {
  opacity: 1;
  visibility: visible;
}
.products_image:focus .products_image_btns {
  opacity: 1;
  visibility: visible;
}

.product-button--disabled {
  opacity: 0.4;
  pointer-events: none;
}

.product_image_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #444B58;
  height: 80px;
  width: 80px;
  border-radius: 100%;
  -webkit-transition: background-color 0.3s ease-in-out;
  -o-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}
@media (min-width: 1025px) {
  .product_image_btn:hover {
    background-color: #31343C;
  }
}
@media (max-width: 576px) {
  .product_image_btn {
    height: 50px;
    width: 50px;
  }
}

.product_description {
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  display: -moz-box;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  line-clamp: 1;
  box-orient: vertical;
  margin-top: 10px;
  color: #444B58;
}

.product_price {
  margin-top: 5px;
  font-size: 20px;
}

.product_btn {
  max-width: 250px;
  margin-top: 40px;
}

.sort {
  display: none;
}

@media (max-width: 1140px) {
  .sort {
    display: block;
    position: absolute;
    width: 30px;
    height: 30px;
  }
  .catalog_left--active {
    display: block;
    position: absolute;
    z-index: 6;
  }
}
.about {
  position: relative;
  margin-bottom: 60px;
  height: 580px;
  background-color: #484283;
}
@media (max-width: 1140px) {
  .about {
    height: 500px;
  }
}
@media (max-width: 576px) {
  .about {
    margin-bottom: 0;
  }
}

.container_about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.about_figure {
  position: absolute;
  top: 0;
  left: 0;
  width: 45vw;
}

.about_text {
  max-width: 40%;
}
@media (max-width: 768px) {
  .about_text {
    font-size: 24px;
  }
}
@media (max-width: 576px) {
  .about_text {
    padding-top: 95px;
    max-width: 90%;
  }
}

.about_text_title {
  margin-bottom: 20px;
  color: white;
}

.about_text_description {
  color: white;
  line-height: 160%;
}
.about_text_description cite {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  font-weight: 700;
  font-size: 20px;
  -webkit-transform: translateX(10%);
  -ms-transform: translateX(10%);
  transform: translateX(10%);
}
.about_text_description cite::before {
  content: "";
  display: inline-block;
  width: 30px;
  height: 3px;
  background-color: white;
  margin-right: 20px;
}

.about_img {
  width: 60%;
}
.about_img img {
  height: 580px;
  -webkit-clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}
@media (max-width: 1140px) {
  .about_img img {
    height: 500px;
  }
}
@media (max-width: 1140px) {
  .about_img {
    margin-left: 60px;
  }
}
@media (max-width: 576px) {
  .about_img {
    display: none;
  }
}

.quiz {
  margin-bottom: 60px;
  color: #444B58;
}
.quiz__container {
  border-radius: 4px;
  background-color: #FFF4EE;
  padding: 40px 100px;
}
@media (max-width: 768px) {
  .quiz__container {
    padding: 40px 60px;
  }
}
@media (max-width: 576px) {
  .quiz__container {
    padding: 40px 30px;
  }
}
.quiz__title {
  padding-bottom: 20px;
  color: #444B58;
}
@media (max-width: 1140px) {
  .quiz__title {
    line-height: 100%;
  }
}
@media (max-width: 576px) {
  .quiz__title {
    font-size: 20px;
    padding-bottom: 0;
  }
}
.quiz__descr {
  color: #808080;
  padding-bottom: 10px;
  border-bottom: 1px solid #808080;
  border-bottom: 1px solid currentColor;
}
@media (max-width: 576px) {
  .quiz__descr {
    display: none;
  }
}

.quiz-question__title {
  font-family: Intro Book, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  margin: 0 0 20px 0;
  color: #444B58;
}
@media (max-width: 768px) {
  .quiz-question__title {
    font-size: 20px;
  }
}
@media (max-width: 576px) {
  .quiz-question__title {
    font-size: 14px;
    color: #808080;
  }
}
.quiz-question__label {
  display: inline-block;
}
.quiz-question__message {
  border: none;
  border-radius: 4px;
  padding: 20px;
  width: 465px;
  height: 246px;
  color: #dbbba9;
  background-color: white;
  resize: none;
}
@media (max-width: 576px) {
  .quiz-question__message {
    width: 315px;
  }
}
.quiz-question__answers {
  display: -ms-grid;
  display: grid;
  grid-auto-rows: 155px;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  padding-bottom: 40px;
  gap: 20px 70px;
}
@media (max-width: 1140px) {
  .quiz-question__answers {
    gap: 5px 20px;
    padding-bottom: 10px;
  }
}
@media (max-width: 768px) {
  .quiz-question__answers {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 576px) {
  .quiz-question__answers {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}
.quiz-question__item img {
  margin-bottom: 10px;
}
.quiz-question__item__count {
  font-family: Intro Book, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #808080;
}

.quiz-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-top: 1px solid #808080;
  padding-top: 20px;
}
@media (max-width: 576px) {
  .quiz-bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    gap: 20px;
  }
}

.last-question {
  display: none;
  padding-top: 20px;
}
.last-question__form {
  position: relative;
  border-radius: 4px;
  padding: 40px;
  max-width: 655px;
  background: #DBBBA9;
}
@media (max-width: 768px) {
  .last-question__form {
    padding: 40px 20px;
  }
}
.last-question__decorate {
  position: absolute;
  right: -185px;
  top: -5px;
}
.last-question__title {
  margin: 0;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 36px;
  line-height: 140%;
  color: white;
}
@media (max-width: 576px) {
  .last-question__title {
    font-size: 24px;
    line-height: 100%;
  }
}
.last-question__descr {
  margin: 0;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  color: white;
}
@media (max-width: 576px) {
  .last-question__descr {
    font-size: 14px;
    line-height: 100%;
  }
}
.last-question__input {
  margin-bottom: 10px;
  max-width: 500px;
}
.last-question__input:nth-of-type(2) {
  margin-bottom: 20px;
}
@media (max-width: 576px) {
  .last-question__input {
    max-width: 270px;
    padding-left: 15px;
  }
}
.last-question__btn {
  min-width: 220px;
  -webkit-transition: color 0.3s ease-in;
  -o-transition: color 0.3s ease-in;
  transition: color 0.3s ease-in;
}
@media (min-width: 1025px) {
  .last-question__btn:hover {
    color: white;
  }
}

.quiz-question__btn {
  display: inline-block;
  vertical-align: top;
  padding: 17px 42px;
  background: transparent;
  border-radius: 4px;
  font-size: 16px;
  border: 1px solid #444B58;
  font-family: Intro Book, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #444B58;
  -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  -o-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}
@media (min-width: 1025px) {
  .quiz-question__btn:hover {
    background-color: #DBBBA9;
    color: black;
  }
}
@media (max-width: 576px) {
  .quiz-question__btn {
    padding: 22px 95px;
  }
}
.quiz-question__btn:active {
  background-color: #cc9f85;
}

.team {
  position: relative;
  background-color: #484283;
  padding-bottom: 60px;
  margin-bottom: 60px;
}

.team_bg_figure {
  position: absolute;
  right: 0;
  top: 0;
  width: 35vw;
  z-index: 0;
}

.team_title {
  color: white;
  padding-top: 60px;
  padding-bottom: 40px;
}
@media (max-width: 768px) {
  .team_title {
    text-align: center;
  }
}
@media (max-width: 576px) {
  .team_title {
    position: relative;
    z-index: 5;
  }
}

.team_carts {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  gap: 40px 20px;
  z-index: 1;
}
@media (max-width: 768px) {
  .team_carts {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }
}

.team_cart_img {
  border-radius: 6px;
  margin-bottom: 20px;
}

.team_subtitles {
  color: white;
  font-weight: 700;
  font-size: 24px;
  padding-bottom: 10px;
}

.team_description {
  color: white;
}

.faq {
  margin-bottom: 60px;
}

.faq_title {
  color: #444B58;
  padding-bottom: 40px;
}

.accordion_list {
  margin: 0 auto;
  max-width: 880px;
}

.accordion_item {
  padding: 30px 0;
  border-top: 1px solid #242424;
  border-bottom: 1px solid #242424;
}
.accordion_item:not(:first-child) {
  margin-top: -1px;
}

.accordion_item_control {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.accordion_item_title {
  font-size: 20px;
  color: #242424;
}

.accordion_item_icon {
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.accordion_item_content {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  will-change: max-height;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  color: rgba(36, 36, 36, 0.5);
  line-height: 140%;
}

.open .accordion_item_content {
  opacity: 1;
  padding-top: 20px;
}

.open .accordion_item_icon {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.contacts {
  background-color: #F3F6F6;
  margin-bottom: 60px;
}
.contacts_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
@media (max-width: 1140px) {
  .contacts_container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}
@media (max-width: 1140px) {
  .contacts {
    padding-top: 30px;
  }
}
.contacts_left {
  padding-bottom: 90px;
}
@media (max-width: 1140px) {
  .contacts_left {
    padding-bottom: 30px;
  }
}
.contacts_title {
  padding-top: 60px;
  padding-bottom: 60px;
  font-size: 30px;
  color: #444B58;
}
@media (max-width: 1140px) {
  .contacts_title {
    padding-bottom: 40px;
  }
}

.contact_item {
  padding-bottom: 40px;
}

.contacts_subtitle {
  padding-bottom: 40px;
  text-transform: uppercase;
  color: #B2B5BB;
  font-size: 14px;
  font-weight: 400;
}

.contacts_number {
  color: #444B58;
  font-weight: 400;
  font-size: 30px;
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}
@media (min-width: 1025px) {
  .contacts_number:hover {
    color: #6259b7;
  }
}

.contact_address {
  padding-top: 10px;
  color: #444B58;
  font-size: 18px;
}
@media (max-width: 576px) {
  .contact_address {
    font-size: 16px;
  }
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}
.social_link {
  -webkit-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}
@media (min-width: 1025px) {
  .social_link:hover {
    opacity: 0.7;
  }
}

.callback {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 570px;
  height: 440px;
  background-color: #484283;
  border-radius: 6px;
}
@media (max-width: 576px) {
  .callback {
    width: 345px;
  }
}
.callback_title {
  padding-top: 40px;
  padding-bottom: 10px;
  color: white;
}
.callback_subtitle {
  padding-bottom: 45px;
  color: white;
  font-size: 16px;
}
@media (max-width: 576px) {
  .callback_subtitle {
    width: 301px;
    text-align: center;
  }
}
.callback_input {
  margin-bottom: 15px;
  padding-left: 30px;
  color: #B2B5BB;
  font-size: 16px;
  width: 500px;
  height: 65px;
  border-radius: 4px;
}
@media (max-width: 576px) {
  .callback_input {
    width: 270px;
  }
}
.callback_button {
  margin-top: 15px;
  padding-left: 80px;
  padding-right: 80px;
}

.map {
  margin-bottom: 60px;
}

.map_content {
  max-width: 1180px;
  height: 440px;
}

.footer {
  padding: 20px 0;
  background-color: #444B58;
}

.footer_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border: none;
}

.prod-modal {
  padding: 40px;
  width: 1120px;
  border-radius: 4px;
}
@media (max-width: 1140px) {
  .prod-modal {
    width: calc(100% - 40px);
  }
}
.prod-modal__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 40px;
}
@media (max-width: 768px) {
  .prod-modal__top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}

.js-modal-close {
  display: none;
}

.modal-slider {
  margin-right: 20px;
  width: calc(50% - 10px);
}
@media (max-width: 1140px) {
  .modal-slider {
    width: 40%;
  }
}
@media (max-width: 768px) {
  .modal-slider {
    width: 80%;
  }
}
.modal-slider__container {
  width: 100%;
  height: 460px;
  overflow: hidden;
}
@media (max-width: 1140px) {
  .modal-slider__container {
    height: unset;
  }
}
.modal-slider__container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
@media (max-width: 1140px) {
  .modal-slider__container img {
    height: 250px;
  }
}

.modal-preview {
  margin-top: 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (70px)[6];
  grid-template-columns: repeat(6, 70px);
  gap: 20px;
}
@media (max-width: 768px) {
  .modal-preview {
    margin-bottom: 20px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-grid-columns: (70px)[3];
    grid-template-columns: repeat(3, 70px);
  }
}
.modal-preview__item {
  border-radius: 4px;
  height: 75px;
  -webkit-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
  cursor: pointer;
}
.modal-preview__item img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.modal-preview__item:hover {
  opacity: 0.7;
}

.modal-info {
  color: #444B58;
  width: calc(50% - 10px);
}
@media (max-width: 768px) {
  .modal-info {
    -ms-flex-item-align: start;
    align-self: flex-start;
    width: unset;
  }
}

.modal-info__top {
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
  color: #B2B5BB;
}

.modal-info__quantity span {
  color: #444B58;
}

.modal-info__title {
  margin-bottom: 20px;
  max-width: 430px;
  font-size: 24px;
  line-height: 140%;
}

.modal-info__rate {
  margin-bottom: 20px;
}

.modal-info__subtitle {
  margin-bottom: 16px;
}

.modal-info__sizes-list {
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  gap: 20px;
}

.modal-sizes__btn {
  padding: 9px 26px;
  border: 1px solid #B2B5BB;
  border-radius: 4px;
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  width: 70px;
}
.modal-sizes__btn:hover {
  background-color: #444B58;
  color: white;
}

.modal-info__price {
  margin-bottom: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 30px;
}
@media (max-width: 768px) {
  .modal-info__price {
    margin-bottom: 30px;
  }
}

.modal-info__current-price {
  font-size: 30px;
}

.modal-info__old-price {
  font-size: 16px;
  color: #B2B5BB;
}

.modal-info__order {
  margin-bottom: 40px;
  padding: 22px 180px;
}
@media (max-width: 1140px) {
  .modal-info__order {
    padding: 22px 100px;
  }
}

.modal-info__note {
  color: #B2B5BB;
  font-size: 14px;
}

.modal-note_item {
  padding-left: 25px;
  margin-bottom: 10px;
  background-image: url("./../img/svg/check.svg");
  background-position: left center;
  background-size: 15px 12px;
  background-repeat: no-repeat;
}
.modal-note_item:last-child {
  padding-bottom: 0;
}

.prod-modal__columns {
  margin-bottom: 47px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 110px;
  color: #444B58;
}
@media (max-width: 1140px) {
  .prod-modal__columns {
    margin-bottom: 15px;
  }
}
@media (max-width: 768px) {
  .prod-modal__columns {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 30px;
  }
}

.prod-bottom__title {
  margin-bottom: 20px;
  font-size: 24px;
}

.prod-bottom__descr {
  max-width: 430px;
  line-height: 150%;
}

.prod-bottom__descr {
  margin-bottom: 5px;
  font-size: 16px;
}
.prod-bottom__descr:last-child {
  margin-bottom: 0;
}

.prod-video {
  border: none;
  width: 100%;
  height: 450px;
}
@media (max-width: 576px) {
  .prod-video {
    height: 300px;
  }
}
/*# sourceMappingURL=main.css.map */