<section class="about">
  <div class="container container_about">
    <img src="./img/svg/figure.svg" alt="figure" class="about_figure" aria-hidden="true">
    <div class="about_text">
      <h2 class="about_text_title title_h2">Пара слов о нас</h2>
      <p class="about_text_description description">
        <q>
          Спорт держит нас в форме. Учит дисциплине. Объединяет нас. Через спорт мы можем менять жизни. В том числе с помощью воодушевляющих историй спортсменов. Чтобы помочь тебе подняться и двигаться вперед.
        </q>
        <cite>SneakMax</cite>
      </p>

    </div>
    <div class="about_img">
      <img src="./img/about_orig.jpg" alt="about">
    </div>
  </div>
</section>
