<section class="contacts">
  <div class="container contacts_container">

    <div class="contacts_left">

      <h2 class="contacts_title title_h2">Контакты</h2>
      <div class="contact_item">
        <h3 class="contacts_subtitle">главный офис

          <span class="tooltip">

            <button class="tooltip__btn prop_btn_reset">
              <img src="./img/svg/tooltip.svg" alt="tooltip_icon" class="tooltip_icon">
            </button>
            <span class="tooltip__txt">
              Адрес и телефон для корреспонденции, инвесторов. Вопросы о доставке, качестве обслуживания и товара просьба задавать в отдел продаж
            </span>

          </span><!--tooltip-->


        </h3>
        <a href="#" class="contacts_number">+7 800 789 89 89</a>
        <p class="contact_address">г. Санкт-Петербург, Комсомольская, 43 к1</p>
      </div>

      <div class="contact_item">
        <h3 class="contacts_subtitle">отдел продаж</h3>
        <a href="#" class="contacts_number">+7 800 789 89 89</a>
        <p class="contact_address">г. Санкт-Петербург, Комсомольская, 43 к1</p>
      </div>

      <div class="social">
        <a href="#" class="social_link"><img src="./img/svg/vk.svg" alt="vk" class="social_icon"></a>
        <a href="#" class="social_link"><img src="./img/svg/instagram.svg" alt="inst" class="social_icon"></a>
      </div>

    </div><!-- contacts_left-->

    <div class="contacts_right">
      <form action="#" class="callback-form callback">
        <div class="callback_title title">Есть вопросы?</div>
        <p class="callback_subtitle description">Заполните форму и наш менеджер свяжется с вами</p>
        <input placeholder="Ваше имя" type="text" class="callback_input input">
        <input placeholder="Номер телефона" type="tel" class="callback_input input">
        <button class="callback_button btn">Отправить</button>
      </form>
    </div>

  </div><!-- container-->
</section>
