<section class="faq">
  <div class="container faq_container">

    <h2 class="faq_title title_h2">Часто задаваемые вопросы</h2>

    <div class="faq_accordion">
      <ul class="accordion_list">

        <li class="accordion_item">
          <button class="accordion_item_control" aria-expanded="false">
            <span class="accordion_item_title">Вопрос 1</span>
            <img src="./img/svg/close.svg" class="accordion_item_icon" alt="close">
          </button>
          <div class="accordion_item_content" aria-hidden="true">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos dolorem dolorum ducimus earum in magni non officiis perferendis unde voluptatum!</div>
        </li>

        <li class="accordion_item">
          <button class="accordion_item_control" aria-expanded="false">
            <span class="accordion_item_title">Вопрос 2</span>
            <img src="./img/svg/close.svg" class="accordion_item_icon" alt="close">
          </button>
          <div class="accordion_item_content" aria-hidden="true">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos dolorem dolorum ducimus earum in magni non officiis perferendis unde voluptatum!</div>
        </li>
      </ul>
    </div>

  </div><!-- container-->
</section>
