<footer class="footer">
  <div class="container container_footer">
    <nav class="footer_nav header_nav">
      <a href="#" class="footer_logo logo header_logo">SneakMax</a>

      <div class="footer_nav_right header_nav_right">
        <ul class="nav_list footer_nav_list">
          <li class="nav_item footer_nav_item"><a href="#" class="nav_link footer_nav_link">Каталог</a></li>
          <li class="nav_item footer_nav_item"><a href="#" class="nav_link footer_nav_link">О нас</a></li>
          <li class="nav_item footer_nav_item"><a href="#" class="nav_link footer_nav_link">Подбор товара</a></li>
          <li class="nav_item footer_nav_item"><a href="#" class="nav_link footer_nav_link">Наша команда</a></li>
          <li class="nav_item footer_nav_item"><a href="#" class="nav_link footer_nav_link">Доставка и оплата</a></li>
          <li class="nav_item footer_nav_item"><a href="#" class="nav_link footer_nav_link">Контакты</a></li>
        </ul>

      </div> <!--   .footer_nav_right-->
    </nav>
  </div>
</footer>
