<header class="header">
  <div class="container ">
    <nav class="header_nav">
      <a href="#" class="logo header_logo">SneakMax</a>

      <div class="header_nav_right">
        <ul class="nav_list">
          <li class="nav_item"><a href="#" class="nav_link">Каталог</a></li>
          <li class="nav_item"><a href="#" class="nav_link">О нас</a></li>
          <li class="nav_item"><a href="#" class="nav_link">Подбор товара</a></li>
          <li class="nav_item"><a href="#" class="nav_link">Наша команда</a></li>
          <li class="nav_item"><a href="#" class="nav_link">Доставка и оплата</a></li>
          <li class="nav_item"><a href="#" class="nav_link">Контакты</a></li>
          <li class="nav_item"><a href="#" class="nav_link">Корзина</a></li>
        </ul>

        <button class="header_cart cart__btn" id="cart-btn">
          <img src="img/svg/cart.svg" alt="cart">
          <span class="cart_count">1</span>
        </button>

        <button class="burger" type="button" data-burger>
          <span class="burger__line"></span>
        </button>

        <div class="mini-cart" id="mini-cart">
          <div class="mini-cart__top" id="mini-cart__top">
            <ul class="mini-cart__list"> </ul>
          </div>
          <div class="mini-cart__bottom">
            <div class="mini-cart__itog">
              <span class="mini-cart__txt">Итого:</span>
              <span class="mini-cart__summ">0 ₽</span>
            </div>
            <button class="btn cart__btn cart__btn_bottom" data-graph-path="cart-modal">Перейти к оформлению</button>
          </div>
        </div>
      </div> <!--   .header_nav_right-->
    </nav>

    <div class="nav_mobile" data-nav>
      <ul class="nav_mobile__list">
        <li class="nav_mobile__item"><a href="#" class="nav_mobile__link">Каталог</a></li>
        <li class="nav_mobile__item"><a href="#" class="nav_mobile__link">О нас</a></li>
        <li class="nav_mobile__item"><a href="#" class="nav_mobile__link">Подбор товара</a></li>
        <li class="nav_mobile__item"><a href="#" class="nav_mobile__link">Наша команда</a></li>
        <li class="nav_mobile__item"><a href="#" class="nav_mobile__link">Доставка и оплата</a></li>
        <li class="nav_mobile__item"><a href="#" class="nav_mobile__link">Контакты</a></li>
      </ul>_

    </div>
  </div> <!--  .container-->
</header>
