<section class="team">
  <div class="container">

    <img src="./img/team/figure_team.svg" alt="figure_team" class="team_bg_figure" aria-hidden="true">
    <h2 class="team_title title_h2">Наша команда</h2>
    <div class="team_carts">

      <div class="team_cart">
        <img src="./img/team/team1.jpg" alt="img_cart" class="team_cart_img">
        <h3 class="team_subtitles description">Денис Селезнев</h3>
        <p class="team_description description">Администратор</p>
      </div>
      <div class="team_cart">
        <img src="./img/team/team2.jpg" alt="img_cart" class="team_cart_img">
        <h3 class="team_subtitles description">Денис Селезнев</h3>
        <p class="team_description description">Администратор</p>
      </div>
      <div class="team_cart">
        <img src="./img/team/team3.jpg" alt="img_cart" class="team_cart_img">
        <h3 class="team_subtitles description">Денис Селезнев</h3>
        <p class="team_description description">Администратор</p>
      </div>
      <div class="team_cart">
        <img src="./img/team/team4.jpg" alt="img_cart" class="team_cart_img">
        <h3 class="team_subtitles description">Денис Селезнев</h3>
        <p class="team_description description">Администратор</p>
      </div>
      <div class="team_cart">
        <img src="./img/team/team5.jpg" alt="img_cart" class="team_cart_img">
        <h3 class="team_subtitles description">Денис Селезнев</h3>
        <p class="team_description description">Администратор</p>
      </div>
      <div class="team_cart">
        <img src="./img/team/team6.jpg" alt="img_cart" class="team_cart_img">
        <h3 class="team_subtitles description">Денис Селезнев</h3>
        <p class="team_description description">Администратор</p>
      </div>

    </div><!-- .team_carts-->
  </div><!-- .container-->
</section>
